<p>
  <a class="github-button" href="https://github.com/gautamarora" aria-label="Follow @gautamarora on GitHub">Follow @gautamarora</a>
  <script async defer id="github-bjs" src="https://buttons.github.io/buttons.js"></script>
</p>